body
{
	background-color:moccasin;
}
#heading
{
	text-align:center;
	color:Blue;
	background-color:silver;
	padding:5px 5px;
	
}
#heading{
	color:sienna;
}	
li1{
	color:grey;
}

li1
{
	display:inline-block;
	padding: 14px 16px;
}
ul
{
	list-style-type:none;
}
li
{
	display:inline-block;	
}
li a:hover
{
	background-color:violet;
}
li a
{
	font-size:18px;	
	display: block;   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color:black;
}


	
	
	